a {
    color: inherit;
    text-decoration: none;
    transition: 0.4s ease;
    background-color: transparent;
}

a:hover {
    color: var(--accent-color);
    transition: 0.4s ease;
    outline: 0;
}


nav {
    margin: 2vw 0 0 0;
}

nav a {
    display: inline-block;
    margin: 0 2vw 0 0;
    letter-spacing: 0.5px;
    color: var(--nav-link);
    font-weight: 400;
    font-size: 2rem;
}